<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width" />
<title>Previsões do tempo</title>
<link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet" />
<link th:href="@{/webjars/bootstrap/css/bootstrap-theme.min.css}" rel="stylesheet" />
</head>
<body>
	<div class="panel panel-default" style="margin: 10px">
		<div class="panel-heading">
			<h1 class="panel-title"><Strong>Previsões do tempo</Strong></h1>
			<p>Jorge Sampaio de lima RA: 81513901</p>
		</div>
		<form class="form-inline" method="post" th:object="${previsao}" th:action="@{/previsoes}" style="margin: 20px">

			<div class="form-group">
				<input type="text" class="form-control" placeholder="Nº do dia da Semana" th:field="*{diaSemana}"/>
				<input type="text" class="form-control" placeholder="Temp. Min." th:field="*{tempMin}" pattern="[0-9]*\.?[0-9]*" title="Insira apenas números e divididos por ponto (.)"/>
				<input type="text" class="form-control" placeholder="Temp. Max." th:field="*{tempMax}" pattern="[0-9]*\.?[0-9]*" title="Insira apenas números e divididos por ponto (.)"/>
				<input type="text" class="form-control" placeholder="Umidade" th:field="*{umidade}"/>
				<input type="text" class="form-control" placeholder="Descrição" th:field="*{descricao}"/>
				<input type="text" class="form-control" placeholder="Latitude" th:field="*{latitude}" pattern="[0-9]*\.?[0-9]*" title="Insira a latitude"/>
				<input type="text" class="form-control" placeholder="Longitude" th:field="*{longitude}" pattern="[0-9]*\.?[0-9]*" title="Insira a logitude"/>
				
				<button type="submit" class="btn btn-primary">Adicionar</button>
			</div>
		</form>
		<div class="panel-body">
			<table class="table">
				<thead>
					<tr>
						<th>Dia da Semana</th>
						<th>Temp. Minima</th>
						<th>Temp. Maxima</th>
						<th>Umidade</th>
						<th>Descrição</th>
						<th>Latitude</th>
						<th>Longitude</th>
						<th>Data/Hora Cadastro</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="previsao:${previsoes}">
						<td th:text="${previsao.DiaSemana.nome}"></td>
						<td th:text="${previsao.tempMin + '°C'}"></td>
						<td th:text="${previsao.tempMax + '°C'}"></td>
						<td th:text="${previsao.umidade + '%'}"></td>
						<td th:text="${previsao.descricao}"></td>
						<td><a th:href="@{'https://maps.google.com/maps?q='+${previsao.latitude}+','+${previsao.longitude}}" target="_blank" th:text="${previsao.latitude}" title="Clique para ver no Google Maps"></a></td>
						<td><a th:href="@{'https://maps.google.com/maps?q='+${previsao.latitude}+','+${previsao.longitude}}" target="_blank" th:text="${previsao.longitude}" title="Clique para ver no Google Maps"></a></td>
						<td th:text="${#dates.format(previsao.dataHora, 'dd/MM/yyyy hh:mm:ss')}"></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</body>
</html>